/* alojamiento.css */

@font-face {
    font-family: 'Domestos';
    src: url('../fonts/domestos.woff') format('woff');
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url('../fonts/segoe.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url('../fonts/segoeBold.woff2') format('woff2');
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
}

/* Contenedor para centrar */
.container {
    display:flex;
    flex-direction: column;
    justify-content: left;
    height: 100vh; /* Opcional: ajusta el tamaño del contenedor al alto de la ventana */
    width: 1110px;
    margin: 0 auto;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/*
/ BARRA DE UBICACIÓN EN LA PÁGINA
/
*/
.location-section {
    white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) cuando el contenido sea demasiado largo para mostrarse completamente */
    padding: 10px;
    font-size: 14px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
}

.location-section a {
    color: #0071c2;
    text-decoration: none;
}

.location-section a:hover {
    text-decoration: underline;
}



button a {
	color: inherit; /* Hereda el color del texto del contenedor principal */
	text-decoration: none; /* Quita el subrayado de los enlaces */
}
  /* Dedicado a los botones para que funcionen con los servlets*/
button a:visited {
    color: inherit; /* Hereda el color del texto del elemento padre */
}



/*
/ GRID DEL ALOJAMIENTO ( BUSCADOR, MAPA, NAV DE UBICACIÓN DE LA PÁGINA, NOMBRE Y FOTOS DEL HOTEL
/
*/

.gridAlojamiento {
    display: grid;
    grid-template-columns: 280px 837px; /* Definición de columnas */
    gap: 8px; /* Espacio entre celdas */
    margin-top: 0px; /* Espacio superior */

}


    /*
    / SECCIÓN IZQUIERDA DEL GRID
    /
    */
    .g1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 8px;
    }


        .g1-1 button {
            height: 35px;
            width: 259px;
            padding: 4px 8px;
            cursor: pointer;
            background-color: #ffffff;
            border: 0px;
            font-size: 14px;
            font-weight: bold;
            color: #006ce4;
            margin: 0; /* Asegúrate de que no haya ningún margen aplicado por defecto */
        }

        /* Si necesitas agregar un margen específico, ajústalo según tus necesidades */
        .g1-1 {
            align-self: center;
            padding: 2px 2px;
            height: 35px;
            width: 260px;
            margin: 0 auto; /* Asegúrate de que no haya ningún margen aplicado por defecto */
            margin-bottom: 10px;
        }

        .g1-1 img {
            width: 15px;
            height: 15px;
            
        }

    .buscador {
        width: 243px;
        background-color: #ffb700;
        color: #1a1a1a;
        padding: 16px;
        border-radius: 10px;
        margin: 0 auto;

    }

        .buscador h2 {
            font-weight: bold;
            font-size: 20px;
            margin: 0px;
        }

        .buscador label {
            font-size: 12px;
        }

        .input-container {
            position: relative;
            margin-bottom: 10px;
        }

        .input-container input {
            width: 90%;
            padding-left: 40px;
            height: 36px;
            width: 199px;
            border: none;
            border-radius: 5px;
        }

        .lupa-icon {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 5px;
            top: 5px;
        }

        .buscador button {
            width: 100%;
            height: 120%;
            background-color: #006ce4;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 18px;
            font-size: 14px;
            cursor: pointer;
            margin-top: 10px;
        }

        .buscador button:hover {
            background-color: #0057b8;
        }

/* Estilo para los inputs de tipo date */
        .buscador input[type="date"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
            font-size: 14px;
            color: #333;
            outline: none;
        }

        .buscador p{
            font-size: 12px;
        }
        .buscador .input-container img {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            fill: #888;
        }
        /* Estilo para el select */
        .buscador select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
            font-size: 14px;
            color: #333;
            outline: none;
        }
    .mapa img{
        width: 275px;
        margin: 0 auto;
        margin-top: 8px;
        border-radius: 5px;
        cursor: pointer;
    }


    /*
    /
    / SECCIÓN DERECHA DE LA PAGINA
    /
    */

.g2{
    display: flex;
    flex-direction: column;
}
        .g2-1 {
            margin-left: 10px;
            width: 837px;
            height: 52px;
            margin-bottom: 2px;
        }

        .g2-1 button {
            margin: 2px;
            background-color: white;
            cursor: pointer;
            font-size: 14px;
            font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            color: black;
            border-color: #006ce4;
            border-top:none;
            border-right:none;
            border-left:none;
            padding: 16px;
            height: 52px;
            width: auto;
            float: left;
            margin-right: 0;
        }


        .g2-2 {
            display: flex;
            flex-direction: column;
        }

        .estrellas img{
            height: 12px;
            margin: 0px;
            align-items: left;
        }

        .right-section{
            display: flex;
            flex-wrap: wrap;
        }
        .g2-2F1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 16px;
        }
        .g2-2F1 .me-gusta {
            background-color: white;
            padding: 4px 8px;
            width: auto;
            margin-top: none;
            margin-right: none;
            height: 36px;
            border: none;
            cursor: pointer;
        }

        .g2-2F1 .me-gusta img {
            height: 28px;
        }

        html {
            scroll-behavior: smooth;
        }
        

.reserva img{
    align-self: center;
    width: 10px;
}
.reserva {
    background-color: #006ce4;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 4px 8px;
    margin-top: none;
    margin-right: none;
    height: 36px;
}


.reserva:hover{
    background-color: #043170;
}
.g2-2F1 .reserva {
    width: auto;
}

.g2-2F2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 24px;
    padding: 0 16px;
}
.g2-2F2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 24px;
    padding: 0 16px;
}

.g2-2F3 {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.g2-2F3 .gps-icon {
    height: 23px;
    margin-right: 8px;
}

.g2-2F3 a {
    color: #006ce4;
    border: none;
    text-decoration: underline;
}

.grid-imagenes {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.grid-imagenes .img1f {
    display:flex;
}
.grid-imagenes .imgssecundarias img{
    height: 165px;
    margin-top: 8px;
    margin-left: 5px;
}

.grid-imagenes .imagen-principal img {
    height: 340px;
    margin-top: 8px;
    margin-left: 17px;
}


.grid-imagenes .img2f {
    display:flex;
}

.grid-imagenes .imagen-pequena img {
    height: 125px;
    width: auto;
    margin-top: 8px;
    margin-left: 5px;
    margin-right: 16px;
}
.grid-imagenes img {
    width: 100%;
    height: auto;
}


.descripcion {
    display: grid;
    margin-top: 40px;
    grid-template-columns: 749px 374px; /* Definición de columnas */
    margin-top: 0px; /* Espacio superior */
}

.descripcion .d1 {
    font-size: 14px;
    color: #000000;
}

.descripcion .d1 h3 {
    font-size: 16px;
    font-weight: bold;
}

.minitext{
    font-size: 12px;
    color: #595959;
}
.descripcion .d1 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.descripcion .d1 ul li {
    margin-bottom: 5px;
    margin-right: 20px; /* Espacio entre elementos de la lista */
}

.descripcion .d1 ul li img {
    width: 20px;
    margin-right: 5px;
}


.d2 {
    margin-left: 30px;
    font-size: 14px;
    color: #000;
}

.d2 h3 {
    font-size: 16px;
    font-weight: bold;
}

.d2 p {
    margin-bottom: 10px;
}

.d2 .reserva{
        width: 100%;
        margin-top: 10px;
    
}
.d2 img {
    width: 20px;

}

/*
*
* DISPONIBILIDAD
*
*/



.disponibilidad .titulo {
    font-weight: bold;
    font-size: 24px;
}

.disponibilidad .mensaje {
    color: red;
}

.disponibilidad table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.disponibilidad table img{
    width: 20px;
    margin-left: 5px;
}

.disponibilidad table thead tr th {
    background-color: #4c76b2;
    border: 1px solid  #4c76b2;
    color: white;
    padding: 8px;
}

.disponibilidad th:first-child, .disponibilidad td:first-child {
    width: 1100px;
}

.disponibilidad th:nth-child(2), .disponibilidad td:nth-child(2) {
    width: 198px;
}

.disponibilidad th:nth-child(3), .disponibilidad td:nth-child(3) {
    width: 275px;
}

.disponibilidad th, .disponibilidad td {
    border: 1px solid rgb(47, 196, 255);
    background-color: #FFFF;
    padding: 8px;
}


.disponibilidad table tbody tr td {
    font-size: 14px;
    font-weight: bold;
    color: #006ce4;
}


.disponibilidad table tbody tr td p {
    font-size: 12px;
    color: #5e5959;
}
.disponibilidad table tbody tr td .reserva {
    width: 100%;
}



.disp-form  {
    background-color: #ffb700;
    font-weight: bold;
    width: fit-content;
    color: #1a1a1a;
    padding: 5px 5px;
    border-radius: 5px;

}
.disp-form input[type="date"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
    outline: none;
}
.disp-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #333;
    outline: none;
    margin-right: 8px;
}

.disp-form button {
    background-color: #006ce4;
    margin-left: 8px;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
}



/*
*
* COMENTARIOS
*
*/

.media-valoracion {
    display: flex;
    align-items: center;
}

.media-valoracion-texto {
    font-weight: bold;
    font-size: 24px;
    background-color: #006ce4; /* Azul oscuro */
    color: #ffffff; /* Blanco */
    padding: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}

.mini-valoracion-texto {
    font-weight: bold;
    font-size: 14px;
    background-color: #006ce4; /* Azul oscuro */
    color: #ffffff; /* Blanco */
    padding: 8px;
    border-radius: 6px;
    height: 20px;
    border-bottom-left-radius: 0px;
}
.comentario-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para distribuir los comentarios uniformemente */
}

.comentario {
    width: calc(33.33% - 10px); /* Para tres comentarios por fila sin espacio adicional */
    margin-bottom: 20px;
    box-sizing: border-box; /* Asegura que el margen no afecte el ancho total */
    /* Otras propiedades de estilo */
}

.media-valoracion-texto-derecha {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #006ce4; /* Azul oscuro */
}

.comentario-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.comentario {
    width: calc(33.33% - 10px);
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
}

.coment-persona{
    font-weight: bold;
}

.coment-persona img {
    vertical-align: middle;
    width: 40px;
    border-radius: 20%;
    margin-left: 5px;
}
.nombre-pais img {
    vertical-align: middle;
    width: 14px;
    border-radius: 20%;
    margin-left: 0px;
}

.nombre-pais  {
    font-size: 12px;
}

.comentario-texto {
    margin-top: 10px;
}

.range-value {
    display: inline-block;
    width: 30px;
    text-align: center;
}

/* Estilo para el text area */
textarea {
  border: 1px solid #666;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Domestos', SegoeUI, sans-serif; /* Usar la fuente principal primero */
  font-size: 16px; /* Aumentar el tamaño de la fuente */
}


/* Estilo para el input type range */
input[type="range"] {
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: middle;
}

/* Estilo para el output */
output {
  display: inline-block;
  width: 50px;
  text-align: center;
  vertical-align: middle;
}
.a-pachas {
    display: flex; /* Hace que los elementos sean flexibles */
    align-items: center; /* Centra verticalmente los elementos */
}
.useerr{
    margin-left: 10px; 
	font-weight: bold;
}