body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #003b95;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    font-size: 19px;
    margin-right: 20px; /* Ajusta el margen derecho si es necesario */
    margin-left: 180px; /* Agrega margen izquierdo */
}

.right-icons {
    margin-right: 180px; /* Ajusta el margen derecho si es necesario */
    margin-left: 20px; /* Agrega margen izquierdo */
}

.right-icons img {
    border-radius: 50%;
    margin-left: 10px; /* Añade un margen entre las imágenes */
}

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile-container h2 {
    margin-top: 0;
}

.profile-info {
    margin-bottom: 15px;
}

.profile-info label {
    font-weight: bold;
}

.profile-info input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.profile-info input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.view-reservations-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.view-reservations-btn:hover {
    background-color: #0056b3;
}

button {
    background-color: #003b95; /* Cambiamos el color de fondo */
    color: white; /* Cambiamos el color del texto a blanco */
    border: none; /* Quitamos el borde */
    padding: 10px 20px; /* Ajustamos el espaciado interno */
    border-radius: 5px; /* Redondeamos los bordes */
    cursor: pointer; /* Cambiamos el cursor */
}

/* Estilos para cuando se pase el cursor sobre los botones */
button:hover {
    background-color: #204b8c; /* Cambiamos el color de fondo al pasar el cursor */
}


.start_button {
	font-weight: bold; /* Texto en negrita */
    font-size: 25px;
    font-family: 'Domestos';
    color: white; /* Color de texto blanco */
}

.start_button a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.start_button a:visited {
    color: white; /* Color de los enlaces visitados blanco */
}


.botonesvarios {
    display: flex; /* Utilizar flexbox */
    justify-content: space-between; /* Distribuir los elementos equitativamente */
    margin-top: 20px; /* Agregar espacio superior */
}


.profile-header {
    display: flex; /* Utilizar flexbox */
    justify-content: space-between; /* Distribuir los elementos equitativamente */
}


