<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingDAO</display-name>
  <welcome-file-list>
    <welcome-file>IndexLinkServlet.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InicioSesionContraLinkServlet</display-name>
    <servlet-name>InicioSesionContraLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.InicioSesionContraLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesionContraLinkServlet</servlet-name>
    <url-pattern>/InicioSesionContraLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarseLinkServlet</display-name>
    <servlet-name>RegistrarseLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RegistrarseLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarseLinkServlet</servlet-name>
    <url-pattern>/RegistrarseLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioLinkServlet</display-name>
    <servlet-name>UsuarioLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.UsuarioLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioLinkServlet</servlet-name>
    <url-pattern>/UsuarioLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesionServlet</display-name>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <url-pattern>/CerrarSesionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuarioServlet</display-name>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <url-pattern>/EliminarUsuarioServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlojamientoUsuarioLinkServlet</display-name>
    <servlet-name>AlojamientoUsuarioLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.AlojamientoUsuarioLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlojamientoUsuarioLinkServlet</servlet-name>
    <url-pattern>/AlojamientoUsuarioLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarAlojamientoServlet</display-name>
    <servlet-name>EliminarAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarAlojamientoServlet</servlet-name>
    <url-pattern>/EliminarAlojamientoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarAlojamientoServlet</display-name>
    <servlet-name>ActualizarAlojamientoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ActualizarAlojamientoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarAlojamientoServlet</servlet-name>
    <url-pattern>/ActualizarAlojamientoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HabitacionesUserServlet</display-name>
    <servlet-name>HabitacionesUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.HabitacionesUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HabitacionesUserServlet</servlet-name>
    <url-pattern>/HabitacionesUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarHabitacionServlet</display-name>
    <servlet-name>ActualizarHabitacionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ActualizarHabitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarHabitacionServlet</servlet-name>
    <url-pattern>/ActualizarHabitacionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarHabitacionServlet</display-name>
    <servlet-name>EliminarHabitacionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarHabitacionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarHabitacionServlet</servlet-name>
    <url-pattern>/EliminarHabitacionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registroHabitacionLinkServlet</display-name>
    <servlet-name>registroHabitacionLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.registroHabitacionLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registroHabitacionLinkServlet</servlet-name>
    <url-pattern>/registroHabitacionLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlojamientoSesionLinkServlet</display-name>
    <servlet-name>AlojamientoSesionLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.AlojamientoSesionLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlojamientoSesionLinkServlet</servlet-name>
    <url-pattern>/AlojamientoSesionLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActualizarPerfilServlet</display-name>
    <servlet-name>ActualizarPerfilServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ActualizarPerfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActualizarPerfilServlet</servlet-name>
    <url-pattern>/ActualizarPerfilServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarritoSessionAddServlet</display-name>
    <servlet-name>CarritoSessionAddServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CarritoSessionAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarritoSessionAddServlet</servlet-name>
    <url-pattern>/CarritoSessionAddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservarHabitacionesServlet</display-name>
    <servlet-name>ReservarHabitacionesServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.ReservarHabitacionesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarHabitacionesServlet</servlet-name>
    <url-pattern>/ReservarHabitacionesServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CambiarDisponibilidadServlet</display-name>
    <servlet-name>CambiarDisponibilidadServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CambiarDisponibilidadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CambiarDisponibilidadServlet</servlet-name>
    <url-pattern>/CambiarDisponibilidadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuardarFavoritoServlet</display-name>
    <servlet-name>GuardarFavoritoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.GuardarFavoritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuardarFavoritoServlet</servlet-name>
    <url-pattern>/GuardarFavoritoServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FavoritosUserServlet</display-name>
    <servlet-name>FavoritosUserServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.FavoritosUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FavoritosUserServlet</servlet-name>
    <url-pattern>/FavoritosUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarFavoritoServlet</display-name>
    <servlet-name>EliminarFavoritoServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarFavoritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarFavoritoServlet</servlet-name>
    <url-pattern>/EliminarFavoritoServlet.do</url-pattern>
  </servlet-mapping>
</web-app>