<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookingDAO</display-name>
  <welcome-file-list>
    <welcome-file>IndexLinkServlet.do</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InicioSesionContraLinkServlet</display-name>
    <servlet-name>InicioSesionContraLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.InicioSesionContraLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioSesionContraLinkServlet</servlet-name>
    <url-pattern>/InicioSesionContraLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarseLinkServlet</display-name>
    <servlet-name>RegistrarseLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.RegistrarseLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarseLinkServlet</servlet-name>
    <url-pattern>/RegistrarseLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsuarioLinkServlet</display-name>
    <servlet-name>UsuarioLinkServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.UsuarioLinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioLinkServlet</servlet-name>
    <url-pattern>/UsuarioLinkServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesionServlet</display-name>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesionServlet</servlet-name>
    <url-pattern>/CerrarSesionServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminarUsuarioServlet</display-name>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <servlet-class>es.unex.pi.controller.EliminarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarUsuarioServlet</servlet-name>
    <url-pattern>/EliminarUsuarioServlet.do</url-pattern>
  </servlet-mapping>
</web-app>