   
.buscador-container {
    background-color: #ffb700;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    margin-left: 130px ;
    margin-right:120px;
    padding-left: 5px;
    padding-right: 5px;
}
.buscador-container input{
    outline: 0;
    border: 0;
}
.elemento-buscador-container {
    flex: 1;
    color: black;
    background-color: #ffffff;
    margin: 5px 2px 5px 2px;
    padding: 5px;
    border-radius: 10px;
    flex-direction: row;
}

.elemento-buscador-container2 {
    display: flex;
    flex-wrap: wrap;
}

.elemento-buscador-container2 input {
    width: 60px;
}

.elemento-buscador-container2 p{
    font-size: 15px;
    margin:0;
    padding: 0;
}

.boton-buscador-container {
    margin: 5px 2px 5px 2px;
}
.buscador-inputs input{
    border: none;
    padding: 8px;
}

.buscador-inputs input {
    border-bottom: 2px solid yellow; /* Línea amarilla */
}

button:hover {
    background-color: #204b8c; /* Cambiamos el color de fondo al pasar el cursor */
}

    @media (max-width: 1200px) {
        .buscador-container {
            flex-direction: column;
    		margin-right:0;
       		margin-top: -70px;
        }
    
        .elemento-buscador-container {
            width: 100%;
            max-width: 95%;
        }
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            margin-top: 10000px;
        }
        .checkbox{
            margin-top: 200px;
        }
        .colorheader{
            padding: 90px;
        }
    
    }