
    <div class="container">
    	<form data-ng-submit="busquedaVM.functions.buscar()">
	        <div class="buscador-container">
	            <div class="elemento-buscador-container">
	                <img src="../images/bed-solid.svg" alt="Ícono" width="16" height="16">
                    <input ng-model="busquedaVM.nameLugar" name="Lugar" type="text" placeholder="Lugar">
	            </div>
	            <div class="elemento-buscador-container">
	                <img src="../images/calendar-days-solid.svg" alt="Ícono" width="16" height="16">
	                <input type="date" value="2024-02-26">
	                <input type="date" value="2024-02-27">
	            </div>
	            <div class="elemento-buscador-container">
	                <div class="elemento-buscador-container2">
	                    <img src="../images/user-solid.svg" alt="Ícono" width="16" height="16">
	                    <p>Adultos</p>
	                    <input type="number" min="0">
	                    <p>Niños</p>
	                    <input type="number" min="0">
	                </div>
	            </div>
	            <div class="boton-buscador-container">
	                <button type="submit">Buscar</button>
	            </div>
	        </div>
        </form>


        <div class="location-section">
            <span><a href="#!/">Inicio</a> > <a href="#!/trending">Hoteles</a> > <a href="#!/busqueda/all/0/0">España</a> > Ofertas en {{busquedaVM.actnameLugar}}</span>
        </div>
        <div class="gridAlojamiento">
            <div class="container1">
                <div class="mapa">
                    <img src="../images/mapa.png" alt="Google Maps">
                </div>
                <div class="filtro">
                    <div class="titulofiltro">
                        <h1>Filtrar por:</h1>
                        <hr style="border-top: 1px solid #ccc; margin-top: 5px;margin-left: 0px;">
                    </div>
                    <div class="elemnos-filtro">
                        <h1>Tu presupuesto(por noche)</h1>
                        <div class="grafico">
                            <img src="../images/grafico.png" alt="grafico">
                        </div>
                        <input type="range" id="precio" name="precio" min="0" max="1000" step="10">
                    </div>
                    <div class="elemnos-filtro">

                        <h1>Filtro populares</h1>
                        <div class="filtros-pupulares">
                            <label for="estrellas-4"><input type="checkbox" id="estrellas-4" name="estrellas"> 4
                                estrellas</label>
                            <label for="Villas"><input type="checkbox" id="Villas" name="tipo"> Villas</label>
                            <label for="Habitaciones-sin-humo"><input type="checkbox" id="Habitaciones-sin-humo"
                                    name="humo"> Habitaciones sin humo</label>
                            <label for="Enchufe-cerca-de-la-cama"><input type="checkbox" id="Enchufe-cerca-de-la-cama"
                                    name="enchufe1"> Enchufe cerca de la cama</label>
                            <label for="Servicio-de-habitaciones"><input type="checkbox" id="Servicio-de-habitaciones"
                                    name="servicios"> Servicio de habitaciones</label>
                        </div>
                    </div>
                    <div class="titulofiltro">
                        <hr style="border-top: 1px solid #ccc; margin-top: 5px;margin-left: 0px;">
                    </div>
                    <div class="elemnos-filtro">

                        <h1>Tipos de alojamiento</h1>
                        <div class="filtros-pupulares">
                            <label for="Casas-y-chalets"><input type="checkbox" id="Casas-y-chalets" name="casas"> Casas
                                y chalets</label>
                            <label for="Apartamentos"><input type="checkbox" id="Apartamentos" name="casas">
                                Apartamentos</label>
                            <label for="Casas-Rurales"><input type="checkbox" id="Casas-Rurales" name="casas"> Casas
                                Rurales</label>
                            <label for="Hoteles"><input type="checkbox" id="Hoteles" name="casas"> Hoteles</label>
                            <label for="Casa-de-Montaña"><input type="checkbox" id="Casa-de-Montaña" name="casas"> Casa
                                de Montaña</label>
                        </div>
                    </div>
                    <hr style="border-top: 1px solid #ccc; margin-top: 5px;margin-left: 0px;">
                    <div class="elemnos-filtro">

                        <h1>Servicios de Habitaciones</h1>
                        <div class="filtros-pupulares">
                            <label for="enchufe2"><input type="checkbox" id="enchufe2"
                                    name="enchufe"> Enchufe cerca de la cama</label>
                            <label for="Piscina-privada"><input type="checkbox" id="Piscina-privada"
                                    name="Piscina-privada"> Piscina privada</label>
                            <label for="Aire-acondicionado"><input type="checkbox" id="Aire-acondicionado"
                                    name="Aire-acondicionado"> Aire acondicionado</label>
                            <label for="Barbacoa"><input type="checkbox" id="Barbacoa" name="Barbacoa"> Barbacoa</label>
                            <label for="Cafetera"><input type="checkbox" id="Cafetera" name="Cafetera"> Cafetera</label>
                        </div>
                    </div>
                </div>
            </div>
			 <div class="container2">
                <h1>{{busquedaVM.actnameLugar}} {{busquedaVM.listaPropiedades.length}} alojamientos encontrados</h1>
                <div class="Mostrar_por">
	                <form id="formMostrar" data-ng-submit="busquedaVM.functions.buscar()" class="form-flex">
					    <select id="Mostrar-por" name="Mostrar-por" required ng-model="busquedaVM.filter" ng-init="busquedaVM.filter = busquedaVM.actfilter.toString()">
					        <option value="0" ng-selected="busquedaVM.actfilter == 0">Mostrar por: Todos</option>
					        <option value="1" ng-selected="busquedaVM.actfilter == 1">Mostrar por: Disponibles</option>
					        <option value="2" ng-selected="busquedaVM.actfilter == 2">Mostrar por: No Disponibles</option>
					    </select>
					    
					    <select id="Ordenar-por" name="Ordenar-por" required ng-model="busquedaVM.order" ng-init="busquedaVM.order = busquedaVM.actorder.toString()">
					        <option value="0" ng-selected="busquedaVM.actorder == 0">Ordenar por: </option>
					        <option value="1" ng-selected="busquedaVM.actorder == 1">Ordenar por: Valoraciones ⬇️</option>
					        <option value="2" ng-selected="busquedaVM.actorder == 2">Ordenar por: Valoraciones ⬆️</option>
					    </select>
					    <button type="submit">Aplicar</button>
					</form>

				</div>
				<div class="c2_alojamiento">
				    <div class="Elemento-c2" data-ng-repeat="alojamiento in busquedaVM.listaPropiedades">
				        <div class="foto-c2">
				            <img src="../images/alojamiento1.png" alt="Google Maps">
				        </div>
				        <div class="Texto-c2">
				            <h2>{{ alojamiento.name }}</h2>
				            <div class="estrellas">
				                <ng-init ng-init="numEstrellas = alojamiento.gradesAverage / 1"></ng-init>
				                <span ng-repeat="i in [1,2,3,4,5]">
				                    <img ng-src="../images/{{ i <= numEstrellas ? 'star.svg' : 'star-empty.svg' }}" alt="{{ i <= numEstrellas ? 'Estrella' : 'Estrella vacía' }}">
				                </span>
				            </div>
				            <p>El {{ alojamiento.name }} es un {{ alojamiento.description }} que se encuentra a {{ alojamiento.centerDistance }} km del centro de {{ alojamiento.city }}.</p>
				        </div>
				
				        <div>
				            <div class="derechon">
				                <div class="valoraciones">
				                    <div class="valoCol1">
				                        <h1>
				                            <span ng-if="alojamiento.gradesAverage == 5">Excepcional</span>
				                            <span ng-if="alojamiento.gradesAverage > 4.5">Fantástico</span>
				                            <span ng-if="alojamiento.gradesAverage > 4">Fabuloso</span>
				                            <span ng-if="alojamiento.gradesAverage > 3.5">Muy bien</span>
				                            <span ng-if="alojamiento.gradesAverage <= 3.5">Puntuación</span>
				                        </h1>
				                    </div>
				                    
				                    <div class="Puntuacion">
				                        {{ alojamiento.gradesAverage }}
				                    </div>
				                </div>
				            </div>
				            <div class="datos">
				                <p>{{ alojamiento.address }}, {{ alojamiento.city }}</p>
				                <h1>Desde {{ alojamiento.lowestPrice }}€</h1>
				                <p>incluye impuestos y cargos</p>
				                <a ng-href="#!/hotel/{{ alojamiento.id }}">
				                    <button class="disponibilidad">Ver Disponibilidad</button>
				                </a>
				            </div>
				        </div>
				    </div>
				</div>
            </div>
        
        
        </div>
    </div>

