
    <div class="container">
            <div class="edit-form">
                <h2>Registrar Alojamiento</h2>
                <form data-ng-submit="alojamientosDetailedVM.functions.registraralojamiento()">
				<label for="name">Nombre Alojamiento:</label>
				<input  data-ng-model="alojamientosDetailedVM.Property.name" type="text" id="name" name="name" required><br><br>
				
				<label for="address">Dirección:</label>
				<input data-ng-model="alojamientosDetailedVM.Property.address" type="text" id="address" name="address" required><br><br>
				
				<label for="telephone">Teléfono:</label>
				<input data-ng-model="alojamientosDetailedVM.Property.telephone" type="tel" id="telephone" name="telephone" required><br><br>
				
				<label for="city">Ciudad:</label>
				<input data-ng-model="alojamientosDetailedVM.Property.city" type="text" id="city" name="city" required><br><br>
				
				<label for="centerDistance">Distancia al centro:</label>
				<input data-ng-model="alojamientosDetailedVM.Property.centerDistance" type="number" id="centerDistance" name="centerDistance" required><br><br>
				
				<label for="descripcion">Descripción:</label><br>
				<textarea data-ng-model="alojamientosDetailedVM.Property.description" id="description" name="description" rows="4" cols="50" required></textarea><br><br>

                    
                  
				<label>Servicios o instalaciones ofrecidos:</label><br>
				<input type="checkbox" id="wifi" name="wifi" value="1" data-ng-model="alojamientosDetailedVM.wifi">
				<label for="wifi">Wifi</label><br>
				<input type="checkbox" id="piscina" name="piscina" value="1" data-ng-model="alojamientosDetailedVM.piscina">
				<label for="piscina">Piscina</label><br>
				<input type="checkbox" id="gym" name="gym" value="1" data-ng-model="alojamientosDetailedVM.gym">
				<label for="gym">Gimnasio</label><br>
				<input type="checkbox" id="spa" name="spa" value="1" data-ng-model="alojamientosDetailedVM.spa">
				<label for="spa">Spa</label><br>
				<input type="checkbox" id="desayuno" name="desayuno" value="1" data-ng-model="alojamientosDetailedVM.desayuno">
				<label for="desayuno">Desayuno</label><br>
				<input type="checkbox" id="restaurante" name="restaurante" value="1" data-ng-model="alojamientosDetailedVM.restaurante">
				<label for="restaurante">Restaurante</label><br><br>



				<label>Permite mascotas:</label><br>
				<input type="radio" id="si-mascotas" name="mascotas" value="1" data-ng-model="alojamientosDetailedVM.petFriendly">
				<label for="si-mascotas">Sí</label>
				<input type="radio" id="no-mascotas" name="mascotas" value="0" data-ng-model="alojamientosDetailedVM.petFriendly">
				<label for="no-mascotas">No</label><br><br>

					   <button  class="view-reservations-btn"  type="submit">Continuar</button>
					</div>
                </form>
            </div>
    </div>

